/*============
global styles
============*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #1e1939;
    overflow: hidden;
}

:root {
    --padsize: 0px;
    --cellsize: 0px;
}  

/*============
    layout
============*/

/* tools section */
.tools {
    height: 650px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
  
.tools img {
    height: 300px;
    width: auto;
    overflow: visible;
}

/* pad section */
.pad {
    height: var(--padsize);
    width: var(--padsize);
    background-color: rgb(220, 220, 220);
    box-shadow: 7px 7px 5px #0e0c1c;
    display: grid;
    grid-template-columns: repeat(16, minmax(auto, auto));
    gap: 1px;
  }
  
  .pad >* {
    background-color: rgb(255, 255, 255);
    height: var(--cellsize);
    width: var(--cellsize);
  }
  